@charset "utf-8";
/* CSS Document */

.r1s1 {
}

.r1s2 {
	background-color:#EBC36C;
}

.r1s2h1 {
	padding:20px 0 0 30px;
	margin:0;
	font-size:30px;
	letter-spacing: 1.5px;
}

.r1s3 {
	background-color:#C2C99F;

}

.r1s3h1 {
	text-transform:uppercase;
	font-size:36px;
	padding:20px 0 0 40px;
	margin:0;
}

.r1s3h2 {
	font-size:30px;
	color:#F5F9E0;
	letter-spacing:1px;
	text-transform:uppercase;
	padding:10px 0 10px 250px;
	margin:0;
}

@media screen and (max-width: 1200px) {

    .r1s3 {
        height: auto;
    }

	.r1s3h1,.r1s3h2 {
		font-size: 25px;
		padding-bottom: 30px;
	}

    .r1s3h2 {
        padding: 20px;
        margin: auto;
    }
}